<!-- 접두사는 _로 접미사는 LayOutPage로 해당 페이지가 한 눈에 레이아웃 페이지 -->

<!-- 
    - 여러 개의 레이아웃 페이지가 존재할 때 디폴트 기본 레이아웃 페이지를
    변경하기 위해서는 Views 폴더 아래에 있는 _ViewStart.cshtml 페이지를
    열어 Layout="~/Views/Shared/_Layout.cshtml"; 다른 레이아웃 페이지로
    변경하면 된다.
    
    - 기본적인 레이아웃 페이지는 마스터 페이지 성격을 가지고 있으므로
    하나의 웹 페이지 레이아웃 구조 템플릿을 모두 제공한다.
     
    - 신규로 생성된 레이아웃(Razor) 페이지는 Razor 뷰 엔진을 사용한다.

    -->

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- ViewBag.Title -->
    <!--
        : 컨트롤러와 뷰 사이에 또는 뷰와 뷰 사이에 데이터를 공유/관리할 
        수 있는 뷰 페이지에서 데이터를 보관하는 장소이다.
    -->
</head>
<body>
    <div>
        @RenderBody()
        <!-- RenderBody() -->
        <!--
            : 레이아웃 페이지 내에서 콘텐츠 페이지를 렌더링하는 위치를 지정하고
            해당 레이아웃 페이지를 사용하는 각 콘텐츠 페이지 내 내용 표기 
        -->

    </div>
</body>
</html>
